.home {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-text {
    font-size: 22px;
    line-height: 140%;
    color: #808080;
    margin-top: 42px;
    width: 210px;
    text-align: center;
}

@media (max-width: 920px) {
    .home-text {
        font-size: 18px; 
    }
}